<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloadable Files</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>

<body>
    <div class="container">
        <h1>Downloadable Files</h1>
        <ul>
            {% for file in download_links %}
            <li><a href="{{ file }}">{{ file }}</a></li>
            {% endfor %}
        </ul>
        <div class="instructions">
            <p>Click on a file to download.</p>
            <p>Use the navigation links below to go back:</p>
            <p><a href="/">Home</a> | <a href="/upload">Upload</a></p>
        </div>
    </div>
</body>

</html>